{% extends "base.html" %}

{% block app_content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Вопрос</th>
            <th scope="col">Ответ</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}

            <tr>
                <th scope="row">{{ question.id }}</th>
                <td>{{ question.question_text }}</td>
                <td>{{ question.question_answer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

