{% extends "base.html" %}

{% block app_content %}




    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Пользователь</th>
            <th scope="col">всего</th>
            <th scope="col">верно</th>
            <th scope="col">не верное</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.total_question }}</td>
                <td>{{ user.good_question }}</td>
                <td>{{ user.fail_question }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

